.card-body-container{
    display: flex;
    gap: 10px;
    align-items: center;
}
.pro-img{
    width: 50px;
    height: 50px;
    border: 2px solid #22c55e;
    border-radius: 50%;
}
#top-header{
    height: 170px;
}
.img-div{
    width: 160px;
    height: 160px;
    overflow: hidden;
    border: 3px solid #22c55e;
    border-radius: 50%;
    margin: auto;
}
.profile-photo{
    width: 155px;
    height: 155px;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    text-decoration: underline;
    color: black;
}
#profile-link:hover{
    cursor: pointer;
    background-color: #d4d4d4;
}
#home:hover{
    cursor: pointer;
    background-color: #d4d4d4;
}
.pro-card{
    border-radius: 7px;
}
.pro-card:hover{
    cursor: pointer;
    background-color: #d4d4d4;
}
.empty{
    display: none;
    text-align: center;
}
.not-found{
    width: 350px;
    border-radius: 5px;
}
.cmnt-img{
    width: 22px;
    height: 22px;
}
.zero-friend{
    width: 220px;
    height: 215px;
}
.request{
    width: 350px;
}
